 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { color: #da6201; text-decoration: none; }
 a:hover { color: #f2991b; }
 body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #837253; margin: 0; padding: 0; background: url(theme/body-bg.jpg?1501706457); }
 .header-wrapper { background: #c3d5d7 url(theme/header-wrapper-orange.jpg?1501706457) bottom center no-repeat; padding-bottom: 470px; min-width:1100px; }
 #wrapper { position: relative; margin-top: -455px; }
 h2 { font-size: 2em; margin: 0; padding: .3em 0; line-height: 1.2; font-family: "Crete Round", Arial, Helvetica, sans-serif; font-weight: normal; -webkit-text-stroke-width: 0.3px; }
 #content h2 { color: #d98100; }
 div.paragraph { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; }
 p { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; }
 blockquote { font-style:italic; border-left:4px solid #ddd; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #content div.paragraph { color: #837253; }
 #content p { color: #837253; }
 #content abbr { border-bottom: 1px dotted #8f8f8f; }
 .container { margin: 0 auto; width: 1000px; }
 #page { margin: 0 auto; width: 1100px; }
 #shadow-bot { background: url(theme/shadow-bot.png?1501706457) left bottom no-repeat; }
 #shadow-mid { background: url(theme/shadow-mid.png?1501706457) repeat-y; padding: 0 50px; }
 #header { margin: 0 auto; height: 55px; width: 1048px; padding: 0 20px 10px 0 !important; background: transparent url(theme/header-top.png?1501706457) top no-repeat; }
 .wsite-logo, .wsite-logo a { color: #fff; margin: 0; padding: 0; text-decoration: none; }
 .wsite-logo, .wsite-logo a:hover { color: #fff; }
 .wsite-logo { font-size: 49px; color: #fff; margin: 0 0 0 9px; display: block; font-weight: normal; padding: 25px 0; font-family: "Crete Round", Arial, Helvetica, sans-serif; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); -webkit-text-stroke-width: 0.7px; }
 #header-right a { color: #da6201; }
 #header-right a:hover { color: #f2991b; }
 #header-right { height: 55px; }
 #header-right, #header-right table { float: right; border-collapse: collapse; border-spacing: 0; }
 #header-right td { padding: 0; vertical-align: middle; text-align: right; }
 #header-right .phone-number { color: #414141; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none; }
 #header-right .wsite-social { vertical-align: middle; margin: 0 0 0 10px; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(theme/social-orange.png?1501706457); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 #header-right .search { }
 #header-right .wsite-search { margin: 0 0 0 12px; vertical-align: middle; }
 #header-right .wsite-search-input { width: 142px; height: 14px; border: none; padding: 9px 5px 9px 10px !important; color: #545454; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: url(theme/input-bg.png?1501706457) no-repeat; }
 #header-right .wsite-search-button { position: relative; width: 23px; height: 32px; color: #010101; font-size: 12px; border: none; margin: 0; padding: 0; background: url(theme/submit-bg-orange.png?1501706457) no-repeat; }
 #topnav { overflow: hidden; margin: 0; height: 55px; padding: 9px 0 0 15px; display: inline-block; }
 #topnav ul { list-style: none; }
 #topnav ul li { list-style: none; float: left; padding: 0; padding: 0 17px 0 0; }
 #topnav a { float: left; display: block; color: #fff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; padding: 18px 10px; border: 0; outline: 0; overflow: hidden; line-height: 1; list-style-type: none; font-size: 14px; text-transform: uppercase; font-weight: bold; }
 #topnav li#active a, #topnav a:hover { color: #fff; background: #dd8400; border: 0; }
 #wsite-menus .wsite-menu li a { font-family: Tahoma, Geneva, sans-serif; padding: 11px; color: #fff; background: #dd8400; border: 0; border-bottom: 1px solid #f2b738; text-decoration: none; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #eb9516; }
 #main { background: url(theme/Content_Area_Bg.jpg?1501706457); }
 #content { min-height: 400px; padding: 18px 27px; }
 #banner { background: url(theme/banner-bot.png?1501706457) left bottom no-repeat; padding-bottom: 40px; position: relative; overflow: hidden; }
 #banner-top { background: url(theme/banner-top.png?1501706457) no-repeat; padding-top: 35px; }
 #banner-mid { background: url(theme/banner-mid.png?1501706457) top left repeat-y; padding: 0 29px 0 31px; }
 .tall-header-page .wsite-header { width: 938px; height: 258px; background: url(theme/banner-tall.jpg?1501706457) no-repeat; border: 1px solid #ded6c1; box-shadow: inset 0 0 1px 1px rgba(222, 214, 193, 0.7); }
 .short-header-page .wsite-header { width: 938px; height: 168px; background: url(theme/banner-short.jpg?1501706457) no-repeat; border: 1px solid #ded6c1; box-shadow: inset 0 0 1px 1px rgba(222, 214, 193, 0.7); }
 .short-header-page #banner { background: url(theme/banner-bot-short.png?1501706457) left bottom no-repeat; }
 .short-header-page #banner-mid { background: url(theme/banner-mid-short.png?1501706457) repeat-y; }
 .no-header-page #banner { display: none; }
 .no-header-page #content { background: url(theme/content-bg-short.png?1501706457) no-repeat; padding-top: 25px; }
 .landing-page #banner { background: url(theme/banner-bot-landing.png?1501706457) left bottom no-repeat; }
 .landing-page #banner-top { background: url(theme/banner-top-landing.png?1501706457) no-repeat; padding-top: 34px; }
 .landing-page #banner-mid { background: url(theme/banner-mid-landing.png?1501706457) repeat-y; }
 #bannerleft { float: right; padding: 0; position: relative; }
 .landing-page .wsite-header { width: 563px; height: 328px; background: url(theme/banner-landing.jpg?1501706457) no-repeat; border: 1px solid #ded6c1; box-shadow: inset 0 0 1px 1px rgba(222, 214, 193, 0.7); }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright { float: left; width: 285px; height: 328px; padding: 0 25px 0 30px; }
 #bannerright h2 { color: #ffffff; font-size: 30px; padding: 0px; line-height: 30px; }
 #bannerright div.paragraph { color: #fff; font-size: 14px; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright p { color: #fff; font-size: 14px; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright .wsite-button { margin: 0; }
 .splash-page #header { width: 532px; }
 .splash-page #banner { width: 527px; height: 161px; padding: 6px 4px 4px 6px; background: url(theme/banner-splash-bg.png?1501706457) no-repeat; }
 .splash-page .wsite-header { width: 515px; height: 149px; background: url(theme/banner-splash.jpg?1501706457) no-repeat; }
 .splash-page #content-container { width: 528px; }
 .splash-page #content { width: 528px; }
 .splash-page #footer { width: 524px; }
 #footer { padding: 35px 20px 38px; font-size: 0 px; color: #fff; font-family: Arial, Helvetica, sans-serif; text-align: right; background: #262015 url(theme/footer-bg.jpg?1501706457); }
 #footer div.paragraph { color: #ccc; }
 #footer p { color: #ccc; }
 #footer a { color: #a49271; }
 #footer a:hover { color: #ffedb6; }
 #footer h2 { font-size: 16px; margin: 0 0 2px; padding: .3em 0 .4em 0; line-height: 1.5; font-family: "Crete Round", Arial, Helvetica, sans-serif; color: #eee; border-bottom:1px dashed #999; }
 #footer span { vertical-align: middle; }
 #footer blockquote { border-left:4px solid #555; color:#888; }
 .wsite-footer { margin-bottom: 15px; }
 .wsite-form-label { display: inline-block; color: #837253; font-family: Arial, Helvetica, sans-serif; font-size: 1em; padding: 12px 0 5px 0; }
 .form-radio-container { color: #837253; font-size: 1em; font-family: Arial, Helvetica, sans-serif; }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: #837253; background: #fff url(theme/field.png?1501706457) repeat-x; border: 1px solid #b7af9a; padding: 6px 4px 6px !important; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .form-select { color: #837253; background: #fff url(theme/field.png?1501706457) repeat-x; border: 1px solid #b7af9a; font-size: 1em; font-family: Arial, Helvetica, sans-serif; padding: 3px 4px; width: 320px; height: 27px; line-height: 27px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-form-container { margin-top:0px !important; text-align:left; color:#aaa; }
 .wsite-footer .wsite-form-label { font-size: 1em; padding: 5px 0 2px 0; color:#ccc; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em; color:#bbb; }
 .wsite-footer .wsite-form-input { font-size: 1em; width: 100% !important; }
 .wsite-footer .form-select { width: 100%; }
 .wsite-button { color: #fff !important; font-family: Arial, Helvetica, sans-serif; height: 34px; display: inline-block; font-size: 12px; border: none; font-weight: bold; font-size: 13px; text-decoration: none; padding: 0 15px 0 0; background: url(theme/button.png?1501706457) no-repeat 100% -105px; text-shadow:0 -1px 0 rgba(0,0,0,0.9); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 25px; background: url(theme/button.png?1501706457) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url(theme/button_large.png?1501706457) no-repeat 100% -126px; padding: 0 15px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 25px; background: url(theme/button_large.png?1501706457) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_highlight_orange.png?1501706457); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_highlight_orange.png?1501706457); }
 .wsite-button-highlight { background-image: url(theme/button_highlight_orange.png?1501706457); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_highlight_orange.png?1501706457); }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
